block variables
	title Stock | Add Stock Page
extends layout

block content
	div.bodydiv
		br
		h2 Add Stock Page

		div.searchStocks 
			input.awesomplete(id="mySearch" placeholder="Search stocks here...")
			br
			div.modal#myModal
				div.modal-content
					span Stock successfully added!
			br
			button(name="submit" id="addStockFinal") Add Stock

		//div.stockList
			div.stock
				b Apple
			div.stock
				b Google
			div.stock
				b Pizza
			div.stock
				b Samsung
			div.stock
				b Utah Jazz
			div.stock
				b Dongle
			div.stock
				b Funny 
			div.stock
				b JD Machine
		
block logout
	a#logout(href='/users/logout') Logout
	a#logout(href='/stock/stocklist') List Stock
	a#logout(href='/stock/stockview') View Stock
	a#logout(href='/stock/managemoney') Manage Money

block scripts
	link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
	script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
	script(src="https://rawgit.com/LeaVerou/awesomplete/gh-pages/awesomplete.min.js")
	script(src="/js/nasdaq.js")
	script(src="/js/nyse.js")
	script(src="/js/autoComplete.js")
	script(src="/js/addStock.js")
	